@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  touch-action: none;

  overflow: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.cont {
  margin: 0 auto; /* Center align the container */
  padding: 0 0;
  box-sizing: border-box;
}

.scrollable-element {
  touch-action: auto;
  overflow-y: scroll; /* 필요에 따라 스크롤 가능한 요소에 overflow 속성을 추가 */
}

.fcg10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
